<div style="padding-top: 1rem; padding-bottom: 1rem; padding-left: 0.9rem; padding-right: 0.9rem;   " >
    <div class="padding-top: 0.3rem; padding-bottom: 0.3rem;" >
        Cher <strong > {{seller.user.first_name}} {{seller.user.last_name}} </strong>, nous expérons que vous vous portez très bien.
    </div>
    <div class="padding-top: 0.3rem; padding-bottom: 0.3rem;" >
        Nous souhaitons par la présente vous informer du fait que presque toutes les demandes de client  pour le compte de votre dernière souscription pour {{seller.name}} ont déjà été envoyés. Veuillez donc souscrire a nouveau pour continuer à recevoir des demandes de vos clients.
    </div>
    <div class="padding-top: 0.3rem; padding-bottom: 0.3rem;" >
        Pour souscrire vous pouvez cliquer ici : <a href="https://vendeur.zawadi.site/activate/" >Plus de clients</a>
    </div>
    <div class="padding-top: 0.3rem; padding-bottom: 0.3rem;" >
        Merci et agréable journée à vous.
    </div>
</div>