<div >
    <strong >{{seller.name}}</strong>, vous avez reçu une nouvelle demande de <strong >{{dem.subs.name}}</strong> du client {{dem.client.user.first_name}} {{dem.client.user.last_name}}.
</div>
<div style="margin-top: 0.8rem;"  >
    - Pour contacter le client directement -> <a href="https://wa.me/{{dem.client.get_whatsapp}}/?text=J'espère que vous allez bien! J'ai reçu votre demande de {{dem.subs.name}} par Zawadi. Voilà mes produits..." >Cliquez ici</a>
</div>

<div style="margin-top: 0.8rem;"  >
    - Pour voir plus sur la demande ->  <a href="https://vendeur.zawadi.site/clients/0/" >cliquez ici</a> 
</div>