{% extends '_base.html' %}

{% block content %}

<div class="pt-12 text-gray-800 ">
    <div class="w-full px-4 py-2 flex justify-between items-center bg-gray-50">
        <div class="flex items-center">
            <div class="pr-2 ">
                <div :style="{
                width: '1.5rem',
                height: '1.5rem',
                'border-radius': '100%',
                'background-size': 'cover',
                'background-position': 'top center',
                'background-image': `url('{{seller.get_picture}}')`,
            }"></div>
            </div>
            <div class="font-medium">
                {{seller.name}}
            </div>
        </div>
        <div class="text-green-500">
            &bull; Actif
        </div>
    </div>
    <div class="text-center text-lg py-3">
        Changer votre mot de passe
    </div>
    {% if err %}
    <div class="p-4 my-3 mb-4 text-sm text-red-700 bg-red-100 rounded-lg dark:bg-red-200 dark:text-red-800" role="alert">
        {{err}}
      </div>
    {% endif %}
    <div class="px-4">
        <form method="POST" action="" >
            {% csrf_token %}
            <div class="mb-3">
                <label for="password1" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Nouveau mot de passe</label>
                <input type="password" id="password1" name="password1"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green-500 dark:focus:border-green-500"
                    required>
            </div>
            <div class="mb-3">
                <label for="password2" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Confirmer le mots de passe</label>
                <input type="password" id="password2" name="password2"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green-500 dark:focus:border-green-500"
                    required>
            </div>
            <div class="mb-3" >
                <button type="submit" class="text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">Soumettre</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}