{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
    <title>Zawadi | Des clients a tout moment</title>
    <link rel="manifest" href="/manifest.json" />
    <!-- ios support -->
    <link rel="apple-touch-icon" href="/static/vendeur/icons/icon-72x72.png" />
    <link rel="apple-touch-icon" href="/static/vendeur/icons/icon-96x96.png" />
    <link rel="apple-touch-icon" href="/static/vendeur/icons/icon-128x128.png" />
    <link rel="apple-touch-icon" href="/static/vendeur/icons/icon-144x144.png" />
    <link rel="apple-touch-icon" href="/static/vendeur/icons/icon-152x152.png" />
    <link rel="apple-touch-icon" href="/static/vendeur/icons/icon-192x192.png" />
    <link rel="apple-touch-icon" href="/static/vendeur/icons/icon-384x384.png" />
    <link rel="apple-touch-icon" href="/static/vendeur/icons/icon-512x512.png" />
    <meta name="apple-mobile-web-app-status-bar" content="#16a34a" />
    <meta name="theme-color" content="#16a34a" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Facebook Pixel Code --><script>!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,document,'script','https://connect.facebook.net/en_US/fbevents.js'); fbq('init', '552872413545497'); fbq('track', 'PageView');</script><noscript> <img height="1" width="1" src="https://www.facebook.com/tr?id=552872413545497&ev=PageView&noscript=1"/></noscript><!-- End Facebook Pixel Code -->
    <!--<script src="/static/src/3.2.js"></script>-->
    <link rel="stylesheet" href="{% static 'src/output.css' %}">

    <style>
        .mh-screen {
            min-height: 100vh;
        }
    </style>

</head>

<body>
    <div id="app">
        <section class="bg-gray-50 dark:bg-gray-900 mh-screen ">
            <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
                <a href="#" class="flex items-center mb-6 text-2xl font-semibold text-gray-900 dark:text-white">
                    <img class="w-8 h-8 mr-2" src="{% static 'logo.png' %}" alt="logo">
                    Zawadi
                </a>
                <div
                    class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
                    <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
                        <h1
                            class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
                            Connectez-vous
                        </h1>
                        {% for e in err %}
                        <div class="my-2" id="err">
                            <div class="flex p-4 mb-4 text-sm text-red-700 bg-red-100 rounded-lg dark:bg-red-200 dark:text-red-800"
                                role="alert">
                                <svg aria-hidden="true" class="flex-shrink-0 inline w-5 h-5 mr-3" fill="currentColor"
                                    viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                        d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z"
                                        clip-rule="evenodd"></path>
                                </svg>
                                <span class="sr-only">Error</span>
                                <div>
                                    {{e|safe}}
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        <form class="space-y-4 md:space-y-6" action="" method="POST">
                            {% csrf_token %}
                            <div>
                                <label for="email"
                                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Votre
                                    Email</label>
                                <input type="email" name="email" id="email"
                                    class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-green-600 focus:border-green-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                    placeholder="name@company.com" required="">
                            </div>
                            <div>
                                <label for="password"
                                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Mot de
                                    Passe</label>
                                <input type="password" name="password" id="password" placeholder="•••••••••"
                                    class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-green-600 focus:border-green-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                    required>
                            </div>

                            <button type="submit"
                                class="w-full text-white bg-green-600 hover:bg-green-700 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">Connexion</button>
                            <p class="text-lg  font-light text-gray-500 dark:text-gray-400">
                                Pas encore de compte? <a href="/register"
                                    class="font-medium text-rose-600 hover:underline dark:text-green-500">Inscription</a>
                                ou <a
                                    href="{{contact}}?text=J'aimerais proceder a la mise à jour de mon mot de passe Zawadi">Mot
                                    de passe oublié ?</a>
                            </p>

                        </form>
                    </div>
                </div>
            </div>
        </section>
        <div class="w-full bg-blue-100 text-center pt-4 pb-4">
            Copyright &copy; 2022 <br>
            All Right Reserved <a class="text-green-500" href="#">Elife Global</a>
        </div>
    </div>
    <script src="{% static 'vue.global.prod.js' %}"></script>
    {% block script %}
    <script>
        const { createApp } = Vue
        const app = createApp({
            data() {
                return {
                    message: 'Hello Vue!'
                }
            },
            compilerOptions: {
                delimiters: ["${", "}"]
            }
        }).mount('#app')
        setTimeout(() => {
            document.getElementById('err').style.display = 'none'
        }, 5000)
    </script>
    {% endblock %}
    <script src="https://unpkg.com/flowbite@1.5.3/dist/flowbite.js"></script>
</body>

</html>